* {
    padding: 0;
    margin: 0;
}


body {
    font-family: Verdana, Tahoma, sans-serif;
    overflow-x: hidden;
}

:root {
    --primary-color: #fff;
    --nav-box-shadow: #efefef;
    --nav-text-color: #302f2f;
    --nav-background-color: #727171;
}


.navbar {
    position: sticky;
    top: 0px;
    width: 100vw;
    height: 70px;
    background: var(--primary-color);
    box-shadow: 0px 0px 10px 10px var(--nav-box-shadow);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.collections .new {
    color: red;
    font-size: 10px;
}

.myntra-logo-img {
    width: 50px;
}

ul li a {
    text-decoration: none;
    color: var(--nav-text-color);
}

.collections ul {
    display: flex;
    list-style: none;
    column-gap: 40px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.collections ul li a:hover {
    text-decoration: underline 3px solid #f41cb2;
    transition: 0.3s ease-in-out;
}

input {
    background: var(--nav-box-shadow);
    border: none;
    border-radius: 4px;
    width: 310px;
    padding: 10px;
    position: relative;
}

.input img {
    background: var(--nav-box-shadow);
    width: 16px;
    position: absolute;
    right: 640px;
    z-index: 1;
    padding: 10px;
}

.nav-right-container {
    display: flex;
    gap: 30px;
}

.nav-right-container span {
    font-weight: bold;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    cursor: pointer;
    font-size: 12px;
}

.nav-item img {
    width: 20px;
    margin-bottom: 5px;
}

.collections img {
    width: 20px;
    position: absolute;
    left: 10px;
    top: 15px;
    display: none;
}

.home-page {
    display: flex;
}

.home-page img {
    width: 100vw;
    transform: translateY(40px);
}

.home-page #arrow {
    position: absolute;
    top: 40%;
    z-index: 1;
    padding: 3vh 1vw;
    background-color: var(--primary-color);
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
}

.control_next {
    right: 0;
}

.worthy-brand-section {
    margin-top: 80px;
}

.worthy-brand-section h1 {
    padding: 30px;
}

.worthy-brand-section-imgs {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.worthy-brand-section-imgs img {
    width: 20vw;
}

.worthy p {
    text-align: center;
}

.worthy p {
    margin-top: 20px;
}

.worthy-image-heading {
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.worthy-image-subheading {
    font-weight: bold;
    font-size: 25px;
}

.cool-deals {
    display: none;
}

.videos-container {
    display: flex;
    justify-content: center;
    gap: 15vw;
    padding: 30px;
}

.videos-container video {
    width: 30vw;
    box-shadow: 5px 5px 20px #000;
    border: 5px solid #000;
}

.video-heading h1 {
    font-size: 40px;
    text-align: center;
    padding: 30px;
    background: linear-gradient(#f41cb2, #343434);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 10px rgba(27, 26, 26, 0.5);
}

.card {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-around;
    margin: 20px 100px;
}

.card .text-heading {
    font-size: 18px;
}

.videos-container .card {
    border: 1px solid var(--nav-background-color);
    border-radius: 4px;
    padding: 8px;
}

.card img {
    width: 4vw;
}

.card-text p {
    margin-bottom: 8px;
}

.off-text {
    color: #f4ac1c;
    font-size: 18px;
}

/* .category-shop .category-heading {
    width: 100vw;
    height: 20vh;
    margin-top: 20px;
} */

@media only screen and (min-width:320px) and (max-width:600px) {
    .navbar {
        height: 50px;
        justify-content: space-around;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }

    ul li a {
        font-size: 12px;
        color: var(--nav-text-color);
    }


    .collections ul {
        position: absolute;
        left: 0;
        text-align: center;
        top: 50px;
        gap: 25px;
        width: 50vw;
        flex-direction: column;
        z-index: 2;
        background-color: var(--primary-color);
        overflow: hidden;
    }

    .collections ul li a:hover {
        text-decoration: none;
    }

    .collections ul li:hover {
        background-color: #747373;
        height: 30px;
    }

    .collections img {
        display: block;
    }

    .myntra-logo-img {
        width: 40px;
        margin-left: 40px;
    }

    #menuList {
        transition: all 0.4s ease-in-out;
    }

    .nav-right-container {
        gap: 20px;
    }

    .nav-right-container img {
        width: 22px;
    }

    .nav-right-container span {
        font-size: 10px;
    }

    input {
        position: absolute;
        left: 12px;
        width: 90vw;
        padding: 8px;
        text-align: center;
        transform: translateY(40px);
        border: 1px solid var(--nav-text-color);
        border-radius: 20px;
    }

    .input img {
        background: none;
        width: 14px;
        position: absolute;
        left: 20px;
        top: 65px;
    }

    .home-page img {
        width: 100vw;
        height: 130px;
        transform: translateY(120px);
    }

    .home-page #arrow {
        top: 25%;
        padding: 1vh 1vw;
        font-size: 20px;
        border: 1px solid #000;
    }

    .hide {
        display: none;
    }

    .worthy-brand-section h1 {
        padding-top: 55px;
        padding-left: 10px;
        font-size: 18px;
    }

    .worthy-brand-section-imgs img {
        width: 40vw;
    }

    .worthy p {
        margin-top: 10px;
    }

    .worthy-image-heading {
        font-size: 14px;
    }

    .cool-deals {
        display: block;
    }

    .cool-deals video {
        width: 100vw;
        margin-top: 30px;
    }

    .video-heading h1 {
        font-size: 25px;
    }

    .videos-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }

    .videos-container video {
        width: 80vw;
        margin-left: 40px;
    }

    .card {
        width: 200px;
        margin: 20px 60px;
    }

    .card img {
        width: 12vw;
    }

    .card-text p {
        font-size: 14px;
    }

    .card .text-heading {
        font-size: 15px;
    }
}

@media only screen and (min-width:601px) and (max-width:770px) {
    input {
        border-radius: 18px;
        width: 90vw;
        border: 1px solid #302f2f;
        padding: 10px;
        position: absolute;
        left: 10px;
        text-align: center;
        font-weight: bold;
        top: 80px;
    }

    .input img {
        top: 78px;
        right: 600px;
        width: 20px;
        background: none;
    }

    .navbar {
        justify-content: space-around;
        width: 100vw;
    }

    #invisible {
        display: none;
    }

    .home-page img {
        width: 100vw;
        transform: translateY(70px);
    }

    .worthy-brand-section-imgs img {
        width: 30vw;
    }

    .hide {
        display: none;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    input {
        border-radius: 18px;
        width: 90vw;
        border: 1px solid #302f2f;
        padding: 10px;
        position: absolute;
        left: 10px;
        text-align: center;
        font-weight: bold;
        top: 80px;

    }

    .input img {
        position: absolute;
        top: 76px;
        right: 680px;
        width: 20px;
        background: none;
    }

    .navbar {
        justify-content: space-around;
    }

    #invisible {
        display: none;
    }

    .myntra-logo-img {
        margin-top: 20px;
    }

    .nav-right-container {
        gap: 16px;
        margin-top: 20px;
    }

    .nav-right-container img {
        width: 25px;
    }

    .home-page img {
        width: 100vw;
        transform: translateY(70px);
    }

    .hide {
        display: none;
    }
}